@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgba(0, 0, 0, 0.85);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.placeholder-animation {
  position: absolute;
  left: 0;
  transform: translateX(-150%);
  height: 100%;
  width: 50%;
  background-image: linear-gradient(
    to left,
    rgba(251, 251, 251, 0.1),
    rgba(251, 251, 251, 0.2),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.2),
    rgba(251, 251, 251, 0.1)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.1),
    rgba(251, 251, 251, 0.2),
    rgba(251, 251, 251, 0.4),
    rgba(251, 251, 251, 0.2),
    rgba(251, 251, 251, 0.1)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.1),
    rgba(251, 251, 251, 0.2),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.2),
    rgba(251, 251, 251, 0.1)
  );
  animation: loading 1s infinite;
  animation-timing-function: ease-in-out;
  z-index: 2;
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(200%);
  }
}
